<div>
 <%= link_to "Post ##{post.id }", "/users/#{@user.id}/posts/#{post.id}" %>
      <p> <%= post.title %> </p>
      <p><span>comments: <%=post.comments_counter%> </span>
       <span>Likes: <%=post.likes_counter%> </span>
       </p>
</div>
