<div class= "post_card">
<h4>
 <%= link_to "Post ##{post.id }", user_post_path(@user,post) %>
 </h4>
      <p> <%= post.title %> </p>
      <p class="post_counter"><span>comments: <%=post.comments_counter%> </span>
       <span>Likes: <%=post.likes_counter%> </span>
       </p>
</div>
